<section class="section gray-bg" id="contactus">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Get In Touch</h2>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-7 col-lg-8 m-15px-tb">
                <div class="contact-form">
                     <form #formInput="ngForm" #formInput class="contactform contact_form" id="formInput">
                       <div class="row alert alert-success" role="alert" *ngIf="infoMessage">
                    <div class="col-md-12">
                    {{infoMessage}}
                    </div>
                  </div>
                        <div class="empty_notice invalid-feedback p-15px-b"><span>Please Fill Required Fields</span></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="name" type="text" placeholder="Full Name" class="form-control" [formControl]="contactFormFullName">
                                    <label *ngIf="contactFormFullName.invalid && (contactFormFullName.dirty || contactFormFullName.touched)" [ngClass] = "'error'">Full Name is required</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="email" type="text" placeholder="Email Address" class="form-control" [formControl]="contactFormEmail">
                                    <label *ngIf="contactFormEmail.invalid && (contactFormEmail.dirty || contactFormEmail.touched)" [ngClass] = "'error'">Email is required</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input id="subject" type="text" placeholder="Subject" class="form-control" [formControl]="contactFormSubject">
                                    <label *ngIf="contactFormSubject.invalid && (contactFormSubject.dirty || contactFormSubject.touched)" [ngClass] = "'error'">Subject is required</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="message" placeholder="Message" class="form-control" rows="3" [formControl]="contactFormMessage"></textarea>
                                    <label *ngIf="contactFormMessage.invalid && (contactFormMessage.dirty || contactFormMessage.touched)" [ngClass] = "'error'">Message is required</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button id="send_message" class="px-btn theme" *ngIf="validatingForm.valid" (click)="sendEmail();"><span>Contact Us</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 m-15px-tb">
                <div class="contact-name">
                    <h5>Mail</h5>
                    <p>info@domainname.com</p>
                </div>
                <div class="contact-name">
                    <h5>Visit My Studio</h5>
                    <p>Warnwe Park Streetperrine, <br>FL 33157 New York City</p>
                </div>
                <div class="contact-name">
                    <h5>Phone</h5>
                    <p>+01 123 654 8096</p>
                </div>
                <div class="social-share nav">
                    <a class="dribbble" href="#">
                        <i class="fab fa-dribbble"></i>
                    </a>
                    <a class="behance" href="#">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a class="linkedin" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
